@model IEnumerable<Document>
@{
    ViewBag.Title = "Investor Documents";
    Layout = "_AdminLyout";
}
<h1><b>Document</b></h1>
<table class="table table-bordered table table-striped">

    <tr>
        <th class="text-left">Investor</th>
        <th class="text-left">Due Diligence</th>
        <th class="text-right">BSA</th>
        <th class="text-left">EQ</th>
        <th class="text-left">Funding Approval</th>
        <th class="text-left"> CDC Investment</th>
        <th class="text-left"> Fees Agreement</th>
        <th class="text-left"> PRC</th>
        <th class="text-left"> RMC</th>
        <th class="text-left"> FRC</th>
        <th class="text-left"> EXMA</th>
        <th class="text-left"> Converted</th>
        <th class="text-center">Actions</th>
    </tr>



    @foreach (var i in Model)

    {
        <tr>
            <td>@i.Name</td>
            <td>@i.Pdd</td>
            <td>@i.BSA</td>
            <td>@i.Eq</td>
            <td>@i.FundingApproval</td>
            <td>@i.Investment</td>
            <td>@i.FeesAgreement</td>
            <td>@i.Prc</td>
            <td>@i.Rmc</td>
            <td>@i.Frc</td>
            <td>@i.Exma</td>
            <td>@i.Converted</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-investorId="@i.DocumentID">
                        Edit
                    </a>

                    <input type="hidden" name="DocumentID" value="@i.DocumentID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>



        </tr>



    }


</table>
<<div class="text-center">
    <a asp-action="Create" class="btn btn-outline-secondary btn-lg  ">Add Ivestors Documents</a>
</div>