@model IEnumerable<WildCoast>

@{
    ViewBag.Title = "All Wild Coast Sez Investors";
    Layout = "_AdminLyout";
}
<h1><b>Wls Coast Investors</b></h1>
<table class="table table-striped table-bordered table-sm">


    <tr>
        <th class="text-left">Investor</th>
        <th class="text-left">Lease</th>
        <th class="text-right">Asset</th>
        <th class="text-left">Investment Value</th>
        <th class="text-left">Team</th>
        <th class="text-left">Status</th>
        <th class="text-center">Actions</th>
    </tr>



    @foreach (var i in Model)

    {
        <tr>
            <td>@i.Name</td>
            <td >@i.Lease</td>
            <td>@i.Asset</td>
            <td>@i.InvestmentValue.ToString("c")</td>
            <td>@i.TeamMembers</td>
            <td>@i.Status</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-investorId="@i.InvestorID">
                        Edit
                    </a>

                    <input type="hidden" name="InvestorID" value="@i.InvestorID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>

    }




</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-outline-secondary btn-lg  ">Add Wild Coast Investor</a>
</div>